<div class="circle-container">
  <div style="max-width: 800px; display: flex; flex-wrap: wrap; justify-content: center; position: relative;">
    <a class="circle" href="{{ include.circle-1-link }}">{{ include.circle-1-title }}</a>
    <a class="circle" href="{{ include.circle-2-link }}">{{ include.circle-2-title }}</a>
    <a class="circle" href="{{ include.circle-3-link }}">{{ include.circle-3-title }}</a>
    <a class="circle" href="{{ include.circle-4-link }}">{{ include.circle-4-title }}</a>
    <a class="center-cirles-btn" href="{{ include.circle-center-link }}">{{ include.circle-center-title }}</a>
  </div>
</div>
